{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Сетка</h1>

    <div class="card">
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                <tr>
                    <th></th>
                    {% for department in departments %}
                        <th>{{ department.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for key, employe in employesArray %}
                    <tr>
                        <td>{{ employe }}</td>

                        {% for tdString in tdStringArray[key] %}
                            <td {% if tdString == 'checked' %}
                                {{ 'class = checked' }}
                            {% endif %}
                            ></td>
                        {% endfor %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div style="height: 200px">
    </div>
{% endblock %}