<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset("css/dashboard.css") }}" rel="stylesheet">
        <style>
            .checked::before {
                content: "\2714";
                font-size: 18px;
                color: green;
            }

            .page-container {
                margin: 0 150px;
            }

            .error {
                color: red;
            }

            label {
                display: block;
            }
        </style>

    </head>
    <body>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 ml-auto">

                </div>
                <div class="col-lg order-lg-first">
                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                        <li class="nav-item">
                            <a href="{{ path('grid') }}" class="nav-link"><i class="fe fe-home"></i>Сетка</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('department_index') }}" class="nav-link"><i class="fe fe-box"></i>Отделы</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a href="{{ path('employee_index') }}" class="nav-link" ><i class="fe fe-calendar"></i>Сотрудники</a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-container">
        {% block body %}{% endblock %}
    </div>


        {% block javascripts %}
            <script  src= "{{ asset('/js/jquery-1.11.2.min.js') }}" ></script>
        {% endblock %}
    </body>
</html>
