
    <h3 class="card-title">Редактировать отдел</h3>
    {{ form_start(edit_form, { 'attr' : { 'id' : 'form-edit'}}) }}

    <label>
        <p>Отредактируйте название отдела <strong>"{{ id }}"</strong></p>
        {{ form_widget(edit_form.name) }}
    </label>
        <input type="submit" id="submit-edit" value="Готово" />
    {{ form_end(edit_form) }}
