{% extends 'base.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                $(document).on('click', '.edit',function (event) {
                    event.preventDefault();

                    var url = $(this).attr('href');
                    $('#edit-form').load(url);

                    window.location.replace("#edit-form");
                });

                $('.edit:first').trigger('click');

                $(document).on('click', '.delete',function (event) {
                    event.preventDefault();
                    $('.error').remove();

                    var url = $(this).attr('href');
                    $el = $(this);

                    $.post(url," ", ajaxDelete);
                });

                function ajaxDelete(data)
                {
                    if(data.result == true){
                        $el.parent().parent().remove();
                    } else {
                        $el.parent().before(
                            '<p class="error">Нельзя удалить отдел в котором есть сотрудники</p>');
                    }
                }

                $(document).on('submit','#form-edit', function (event) {
                    // event.preventDefault();
                    $('.error').remove();

                    var url = $('#form-edit').attr('action');
                    var id = Number(url.replace(/\D+/g,""));

                    $.ajax({
                        type : 'POST',
                        url : url,
                        data : $('#form-edit').serialize(),
                        success : function(data) {
                            if (!data.error){
                                $('table #'+id).html(data);
                                return false;
                            }

                            var result = JSON.parse(data.error)

                            if(result.name){
                                $('#form-edit').before(
                                    '<p class="error">Название введено не верно</p>');
                            }
                        }
                    });
                });

                $(document).on('submit','#form-create', function (event) {
                    event.preventDefault();
                    $('.error').remove();

                    var url = $('#form-create').attr('action');

                    $.ajax({
                        type : 'POST',
                        url : url,
                        data : $('#form-create').serialize(),
                        success : function(data) {
                            if (!data.error){
                                $('tbody').append(data);
                                return false;
                            }

                            var result = JSON.parse(data.error)

                            $('#form-create #name').css('color','red');
                            if(result.name){
                                $('#form-create').before(
                                    '<p class="error">Название введено не верно</p>');
                            }
                        }
                    });
                })
            </script>
        {% endblock %}
{% block body %}
    <h1 style="text-align: center">Отделы</h1>
    <div id="edit-form">

    </div>


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список отделов</h3>
        </div>

        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Название отдела</th>
                    <th>Количество сотрудников</th>
                    <th>Максимальная зарплата</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for department in departments %}
                    {% include 'app/department/new_show.html.twig' %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="form-container">
        <h3 class="card-title">Создать отдел</h3>
        {{ form_start(formNew, { 'attr' : { 'id' : 'form-create'}}) }}
        <label id="#name">
            <p>Введите название отдела</p>
            {{ form_widget(formNew.name) }}
        </label>
        <input type="submit" value="Добавить" />
        {{ form_end(formNew) }}
    </div>
    <div style="height: 200px">
    </div>
{% endblock %}



