<td>{{ department.id }}</td>
<td>{{ department.name }}</td>
<td>{{ numberEmployees[department.id] }}</td>
<td>{{ maxSalary[department.id] }}</td>
<td>
    <a class="edit" href="{{ path('department_edit', { 'id': department.id }) }}"><i class="fe fe-edit"></i></a>
</td>
<td>
    <a class="delete" href="{{ path('department_delete', { 'id': department.id }) }}">
        <i class="fe fe-x-square"></i></a>
</td>