
<h3 class="card-title">Редактировать сотрудника</h3>
{{ form_start(formNew, { 'attr' : { 'id' : 'form-edit'}}) }}

<div class="float-left">
    <label id="firstName">
        <p>Введите имя сотрудника *</p>
        {{ form_widget(formNew.firstName) }}
    </label>
    <label id="lastName">
        <p>Введите фамилию сотрудника *</p>
        {{ form_widget(formNew.lastName) }}
    </label>
</div>
<div class="float-left">
    <label id="middleName">
        <p>Введите отчество сотрудника</p>
        {{ form_widget(formNew.middleName) }}
    </label>
    <label id="gender">
        <p>Выберите пол</p>
        {{ form_widget(formNew.gender) }}
    </label>
</div>
<div class="float-left">
    <label id="salary">
        <p>Укажите заработную плату</p>
        {{ form_widget(formNew.salary) }}
    </label>
    <label id="department">
        <p>Укажите отдел в котором работает сотрудник</p>
        {{ form_widget(formNew.departments) }}
    </label>
</div>
<div><input type="submit" id="submit-edit" value="Готово" /></div>
<p></p>
{{ form_end(formNew) }}
