{% extends 'base.html.twig' %}
        {% block javascripts %}
            {{ parent() }}
            <script>
                $(document).on('click', '.edit',function (event) {
                    event.preventDefault();

                    var url = $(this).attr('href');
                    $('#edit-form').load(url);

                    window.location.replace("#edit-form");
                });

                $('.edit:first').trigger('click');

                $(document).on('click', '.delete',function (event) {
                    event.preventDefault();

                    var url = $(this).attr('href');
                    $el = $(this);

                    $.post(url," ", ajaxDelete);
                });

                function ajaxDelete(data)
                {
                    if(data.result == true){
                        $el.parent().parent().remove();
                    }
                }

                $(document).on('submit','#form-edit', function (event) {
                    event.preventDefault();
                    $('.error').remove();

                    var url = $('#form-edit').attr('action');
                    var id = Number(url.replace(/\D+/g,""));

                    $.ajax({
                        type : 'POST',
                        url : url,
                        data : $('#form-edit').serialize(),
                        success : function(data) {
                            if (!data.error){
                                $('table #'+id).html(data);
                                return false;
                            }

                            var result = JSON.parse(data.error)

                            if(result.firstName){
                                $('#form-edit #firstName').before(
                                    '<p class="error">Имя введено не верно</p>');
                            }
                            if(result.lastName){
                                $('#form-edit #lastName').before(
                                    '<p class="error">Фамилия введена не верно</p>');
                            }
                            if(result.middleName){
                                $('#form-edit #middleName').before(
                                    '<p class="error">Отчество введено не верно</p>');
                            }

                            if(result.salary){
                                $('#form-edit #salary').before(
                                    '<p class="error">Зарплата введена не верно</p>');
                            }

                            if(result.department){
                                $('#form-edit #department').before(
                                    '<p class="error">Отдел выбран неверно</p>');
                            }
                        }
                    });

                })

                $(document).on('submit','#form-create', function (event) {
                    event.preventDefault();
                    $('.error').remove();

                    var url = $('#form-create').attr('action');

                    $.ajax({
                        type : 'POST',
                        url : url,
                        data : $('#form-create').serialize(),
                        success : function(data) {
                            if (!data.error){
                                $('tbody').append(data);
                                return false;
                            }

                            var result = JSON.parse(data.error)

                            if(result.firstName){
                                $('#form-create #firstName').before(
                                    '<p class="error">Имя введено не верно</p>');
                            }
                            if(result.lastName){
                                $('#form-create #lastName').before(
                                    '<p class="error">Фамилия введена не верно</p>');
                            }
                            if(result.middleName){
                                $('#form-create #middleName').before(
                                    '<p class="error">Отчество введено не верно</p>');
                            }

                            if(result.salary){
                                $('#form-create #salary').before(
                                    '<p class="error">Зарплата введена не верно</p>');
                            }

                            if(result.department){
                                $('#form-create #department').before(
                                    '<p class="error">Отдел выбран неверно</p>');
                            }
                        }
                    });
                })
            </script>
        {% endblock %}
{% block body %}
    <h1 style="text-align: center">Сотрудники</h1>
    <div id="edit-form">

    </div>


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список сотрудников</h3>
        </div>

        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Пол</th>
                    <th>Зарплата</th>
                    <th>Отделы</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    {% include 'app/employee/new_show.html.twig' %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


    <div class="form-container">
        <h3 class="card-title">Добавить сотрудника</h3>
        {{ form_start(formNew, { 'attr' : { 'id' : 'form-create'}}) }}
        <div class="float-left">
            <label id="firstName">
                <p>Введите имя сотрудника *</p>
                {{ form_widget(formNew.firstName) }}
            </label>
            <label id="lastName">
                <p>Введите фамилию сотрудника *</p>
                {{ form_widget(formNew.lastName) }}
            </label>
        </div>
        <div class="float-left">
        <label id="middleName">
            <p>Введите отчество сотрудника</p>
            {{ form_widget(formNew.middleName) }}
        </label>
        <label id="gender">
            <p>Выберите пол</p>
            {{ form_widget(formNew.gender) }}
        </label>
        </div>
        <div class="float-left">
            <label id="salary">
                <p>Укажите заработную плату</p>
                {{ form_widget(formNew.salary) }}
            </label>
            <label id="department">
                <p>Укажите отдел в котором работает сотрудник</p>
                {{ form_widget(formNew.departments) }}
            </label>
        </div>

        <div>
            <input type="submit" value="Добавить" />
        </div>
        {{ form_end(formNew) }}
    </div>
    <div style="height: 200px">
    </div>
{% endblock %}



