<td>{{ employee.id }}</td>
<td>{{ employee.lastName }}</td>
<td>{{ employee.firstName }}</td>
<td>{{ employee.middleName }}</td>
<td>{{ employee.gender }}</td>
<td>{{ employee.salary }}</td>
<td>{{ departmentEmployees[employee.id] }}</td>
<td>
    <a class="edit" href="{{ path('employee_edit', { 'id': employee.id }) }}"><i class="fe fe-edit"></i></a>
</td>
<td>
    <a class="delete" href="{{ path('employee_delete', { 'id': employee.id }) }}">
        <i class="fe fe-x-square"></i></a>
</td>